{% extends 'base.html' %}

{% block title %}Email Sent{% endblock %}
{% load static %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="{% static 'accounts/time_capsule.png' %}" alt="error" width="150">
  </a>
      <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'login' %}">Login <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </nav> <br>
  <div class="jumbotron container">
  <h1>Check your inbox.</h1><hr>
  <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
  </div>
{% endblock %}